@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    *:before,
    *:after {
        font-family: serenity, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,Oxygen, Ubuntu;
        font-size: 15px;
        text-rendering: optimizedLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: normal;
        font-style: normal; 
    }
}